/* Navigation */
#navbar{
    flex-direction: column;
    position:sticky ;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
}
/* Home section */
#home
{
    height: 450px;  
}
#home p{
    font-size: 12px;
}
#home::before
{
    height: 550px;
}

/* html{
    scroll-behavior:smooth;
} */
/* Servics-section */
#services{
flex-direction:column;
}

 #services .box img{
width: 90%;
}
 .box  .h-secondary{
    font-size: 1rem;
}
/* clients Section */
#clients{
flex-wrap: wrap;
}
#clients img{
width: 60px;
padding: 10px;
}
/* contact us section */
#contact-box form {
    width: 70%;
    font-size: 10px;
}
#contact-box form ::placeholder{
    font-size: 15px;
}
/* footer */

/* utality */
.h-primary{
    font-size: 20px;
}
.btn{
    font-size: 12px;
    padding: 4px 6px;
}